<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>backgroundPage</title>
</head>
<body>

<h1>welcome background page</h1>
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img

                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
                style="border:5px solid blue; padding:3px; margin:5px"
        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
                style="border:5px solid blue; padding:3px; margin:5px"

        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
                style="border:5px solid blue; padding:3px; margin:5px"

        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
                style="border:5px solid blue; padding:3px; margin:5px"

        />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
                style="border:5px solid blue; padding:3px; margin:5px"

        />

        <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
                style="border:5px solid blue; padding:3px; margin:5px"

        />
    </div>
</div>
<!-- Gallery -->
</body>
</html>