<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>backgroundPage</title>
</head>
<body style="background-color:aquamarine;">

<form class="mx-1 mx-md-4" th:action="@{/background}" method="post">

    <h1 th:text="${session.loggedInUserName}" th:unless="${session==null}"></h1>


    <h1>welcome background page</h1>
    <!-- Gallery -->
    <div class="row">


        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a href="/backgroundDarksouls">
            <img

                    src="/images/dark%20souls.jpg"
                    width="400"
                    height="400"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Bond fire"
                    style="border:5px solid blue; padding:3px; margin:5px"
            />
            </a>

            <img
                    src="/images/pngtree-dark-vector-abstract-background-picture-image_1159556.jpg"
                    width="400"
                    height="400"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="abstract"
                    style="border:5px solid blue; padding:3px; margin:5px"

            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                    src="/images/momo.webp"
                    width="400"
                    height="400"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="momo"
                    style="border:5px solid blue; padding:3px; margin:5px"

            />

            <img
                    src="/images/maserati-mc20-gt2-1.jpg"
                    width="400"
                    height="400"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Auto"
                    style="border:5px solid blue; padding:3px; margin:5px"

            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                    width="400"
                    height="400"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea"
                    style="border:5px solid blue; padding:3px; margin:5px"

            />

            <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                    width="400"
                    height="400"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Yosemite National Park"
                    style="border:5px solid blue; padding:3px; margin:5px"

            />
        </div>
    </div>
    <!-- Gallery -->
</body>
</html>